@{
    ViewBag.Title = "EditarCargo";
}

@if (Model != null)
{
    <h2 class="text-center text-info shadow-h pd">Agregar Cargo</h2>

    <form id="miFormularioCargoE" method="post" action="@Url.Action("EditarCargo", "Cargos")" enctype="multipart/form-data">

        <input type="hidden" value="@Model.IdCargo" name="IdCargo" id="id" />

        <div class="shadow-custom pd m-t">

            <div class="row my-2">

                <div class="col-xs-12 col-sm-6 w-auto">
                    <div class="form-group">
                        <label for="Codigo" class="form-label">Codigo Cargo:</label>
                        <input type="text" name="CodigoCargo" id="Codigo" class="form-control" value="@Model.CodigoCargo" remote="@Url.Action("ValidarCodigoConId", "Cargos")">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 w-auto">
                    <div class="form-group">
                        <label for="Nombre" class="form-label">Nombre Cargo:</label>
                        <input type="text" name="NombreCargo" id="Nombre" class="form-control" value="@Model.NombreCargo">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>

            </div>

            <div class="row my-2">

                <div class="col-xs-12 col-sm-6 w-auto">
                    <div class="form-group">
                        <label for="ri" class="form-label">Rango Salarial Inicial:</label>
                        <input type="Number" name="RangoSalarioInicial" id="ri" class="form-control" value="@Model.RangoSalarioInicial">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 w-auto">
                    <div class="form-group">
                        <label for="rf" class="form-label">Rango Salarial Final:</label>
                        <input type="Number" name="RangoSalarialFinal" id="rf" class="form-control" value="@Model.RangoSalarialFinal">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>

            </div>


            <div class="radio">
                <label>
                    <input type="radio" name="Activo" id="optionsRadios1" value="true" @(Model.Activo == true ? "checked='checked'" : "")>
                    Activo
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="Activo" id="optionsRadios2" value="false" @(Model.Activo == false ? "checked='checked'" : "")>
                    Inactivo
                </label>
            </div>


            <div class="col-12">
                <button id="btneditc" type="button" class="btn btn-primary my-1 w-100">Editar</button>
                @Html.ActionLink("Cancelar", "Index", "Cargos", null, new { @class = "btn btn-danger my-1 w-100" })
            </div>

        </div>

    </form>
}
else
{
    <h2>
        No se encontro el Cargo
    </h2>
}



@section scripts
{
    <script>
        var mec = '@ViewBag.Message';
        var alertType = '@ViewBag.AlertType';

        $(document).ready(function () {

            // Mostrar mensaje de error si lo hay
            if (mec != null && mec != '') {
                Swal.fire({
                    icon: alertType,
                    title: 'Error',
                    text: mec,
                    confirmButtonText: 'OK'
                }).then(() => {
                    mec = null; // Limpiar el mensaje de error
                });
            }
        });
    </script>

    <script src="~/Scripts/Cargos/sweetAlertActualizar.js"></script>
    <script src="~/Scripts/Cargos/jQueryValidationActualizar.js"></script>



}

