@using Modelos;

@model AreaCargoTipoContrato_VM


@{
    ViewBag.Title = "AgregarEmpleado";
}


<!-- Aquí puedes acceder a las tres listas usando las propiedades del modelo de vista -->


<h2 class="text-center text-info shadow-h pd">Agregar Empleado</h2>

<form id="miFormulario" method="post" action="@Url.Action("AgregarEmpleado", "Empleados")" enctype="multipart/form-data">

    <div class="shadow-custom pd m-t">

        <h5 class="text-info" style="font-weight: bold;">Datos Pesonales</h5>

        <div class="row my-2">

            <div class="col-xs-12 col-sm-6 w-auto">
                <div class="form-group">
                    <label for="Nombres" class="form-label">Nombre:</label>
                    <input type="text" name="Nombres" id="Nombres" class="form-control">
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 w-auto">
                <div class="form-group">
                    <label for="Apellidos" class="form-label">Apellidos:</label>
                    <input type="text" name="Apellidos" id="Apellidos" class="form-control">
                    <div class="invalid-feedback"></div>
                </div>
            </div>

        </div>

        <div class="row my-2">

            <div class="col-xs-12 col-sm-6 w-auto">

                <div class="form-group">
                    <label for="Email" class="form-label">Email personal:</label>
                    <input type="email" name="EmailPersonal" id="EmailPersonal" class="form-control" remote="@Url.Action("ValidarCodigoEmpleado", "Empleados")">
                    <div class="invalid-feedback"></div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 w-auto">
                <div class="form-group">
                    <label for="Telefono" class="form-label">Telefono:</label>
                    <input type="text" name="TelefonoPersonal" id="Telefono" class="form-control">
                    <div class="invalid-feedback"></div>
                </div>
            </div>

        </div>

        <div class="row my-2">

            <div class="col-xs-12 col-sm-6 w-auto">

                <div class="form-group">
                    <label for="Codigo" class="form-label">Codigo:</label>
                    <input type="text" name="Codigo" id="Codigo" class="form-control" remote="@Url.Action("ValidarCodigoEmpleado", "Empleados")">
                    <div class="invalid-feedback"></div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 w-auto flex-column">
                <label class="form-label" for="inlineFormSelectPref">Genero</label>
                <select class="form-control" id="inlineFormSelectPref" name="Genero">
                    <option value="">Genero</option>
                    <option value="0">Femenino</option>
                    <option value="1">Masculino</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>

        </div>

        <div class="row my-2">

            <div class="col-xs-12 col-sm-6 d-flex flex-column">
                <label class="form-label TipoSangre" for="TipoSangre">Tipo de Sangre</label>
                <select class="selectpicker" data-live-search="true" id="TipoSangre" name="TipoSangre">
                    <option value="">Tipo de sangre</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>

            <div class="col-xs-12 col-sm-6 w-auto">
                <label for="fotografia" class="form-label">Fotografia</label>
                <input type="file" class="form-control" id="fotografia" name="Fotografia">
                <p id="fotografia-error"></p>
                <div class="invalid-feedback"></div>

                <input type="hidden" name="img" id="rutaImagen" />
            </div>

        </div>

        <hr style="border: 2px solid #D9D9D9;" />

        <h5 class="text-info" style="font-weight: bold;">Datos Laborales</h5>


        <div class="row my-2">

            <div class="col-xs-12 col-sm-6 w-auto">

                <div class="form-group flex-column">
                    <label for="FechaInicio" class="form-label">Fecha de Inicio de Contrato:</label>
                    <input type="date" name="FechaInicio" id="FechaInicio" value="" class="form-control" />
                    <div class="invalid-feedback"></div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 w-auto">

                <div class="form-group flex-column">
                    <label for="FechaFin" class="form-label">Fecha de Fin de Contrato:</label>
                    <input type="date" name="FechaFin" id="daterangepicker" class="form-control" />
                    <div class="invalid-feedback"></div>
                </div>

            </div>

        </div>

        <div class="row my-2" style="margin-bottom: 20px;">

            <div class="col-xs-12 col-sm-6 d-flex flex-column">
                <label class="form-label" for="TipoSangre">Area:</label>
                <select class="selectpicker" data-live-search="true" id="IdArea" name="IdArea">
                    <option value="" disabled selected>Area</option>

                    @if (Model != null)
                    {
                        foreach (var area in Model.ListaArea)
                        {
                            <option value="@area.IdArea">@area.NombreArea</option>
                        }

                    }

                </select>
                <div class="invalid-feedback"></div>
            </div>

            <div class="col-xs-12 col-sm-6 d-flex flex-column">
                <label class="form-label" for="TipoContrato">Tipo de contrato:</label>
                <select class="selectpicker" data-live-search="true" id="TipoContrato" name="TipoContrato">
                    <option value="" disabled selected>Tipo de Contrato</option>

                    @if (Model != null)
                    {

                        foreach (var l in Model.ListaTipoContrato)
                        {
                            <option value="@l.IdTipoContrato"> @l.NombreTipoContrato </option>
                        }

                    }

                </select>
                <div class="invalid-feedback"></div>
            </div>

        </div>

        <div class="row my-2" style="margin-bottom: 20px;">

            <div class="col-xs-12 col-sm-6 d-flex flex-column">
                <label class="form-label" for="Cargo">Cargo:</label>
                <select class="selectpicker" data-live-search="true" id="IdCargo" name="IdCargo">
                    <option value="" disabled selected>Cargo</option>

                    @if (Model != null)
                    {
                        foreach (var l in Model.ListaCargo)
                        {
                            <option value="@l.IdCargo">@l.NombreCargo</option>
                        }
                    }


                </select>
                <div class="invalid-feedback"></div>
            </div>

            <div class="col-xs-12 col-sm-6 w-auto">
                <div class="form-group">
                    <label for="Salario" class="form-label">Salario:</label>
                    <input type="number" name="Salario" id="Salario" class="form-control">
                </div>
            </div>

        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary my-1 w-100">Agregar</button>
            @Html.ActionLink("Cancelar", "Empleados_VW", "Empleados", null, new { @class = "btn btn-danger my-1 w-100" })

        </div>


        @*<div class="col-12">
                <button type="submit" class="btn btn-primary my-1 w-100">Agregar</button>
                @Html.ActionLink("Cancelar", "Empleados_VW", "Empleados", null, new { @class = "btn btn-danger my-1 w-100" })

            </div>*@

    </div>


</form>

@section scripts{
    @* Muestra las alertas al agregar un empleado *@

    <script>
        var message = '@ViewBag.Message';
        var alertType = '@ViewBag.AlertType';
    </script>
    <script type="text/javascript" src="~/Scripts/Empleados/sweetAlertsAgregar.js"></script>
    <script>

        
    </script>

    @* validaciones a los campos de texto JqueryValidation *@
    <script type="text/javascript" src="~/Scripts/Empleados/jqueryValidationAgregar.js"></script>

}

